@import url(https://fonts.google.com/specimen/Nunito+Sans);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  --bgcolor: hsl(0, 0%, 98%);
  --fontColor: hsl(0, 0%, 52%);
  font-family: "Nunito Sans", sans-serif;
}

.container:nth-child(1) {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: var(--countrybgcolor);
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  height: 70px;
}
.container h1,
.toggle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
button {
  border: 0;
  outline: none;
  background: transparent;
  color: var(--fontcolor);
}
.toggle {
  font-size: 18px;
  cursor: pointer;
  color: var(--fontcolor);
}
.toggle i {
  padding-right: 5px;
}
.form-control {
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 55px;
  background-color: var(--countrybgcolor);
}
.form-control input {
  width: 100%;
  padding: 17px 14px;
  outline: 0;
  border: 0;
  font-size: 16px;
  background-color: var(--countrybgcolor);
  color: var(--fontcolor);
}
.form-control i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: var(--countrybgcolor);
}
.dropDownCon {
  width: 200px;
  position: relative;

}
.dropdown {
  width: 100%;
  padding: 17px 14px;
  border-radius: 5px;
  height: 53px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: var(--countrybgcolor);
}
.dropDownCon i {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.drop {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 4rem;
  padding: 17px 14px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--countrybgcolor);
  background-color: var(--bgcolor);
  cursor: pointer;
  z-index: 0;
}

.drop p {
  margin: 5px 0px;
  z-index: 10;
}
.countries {
  padding: 50px 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3px;
  z-index: -1;
}
.country {
  min-height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 245px;
  border-radius: 5px;
  margin: 17px 2px;
  overflow: hidden;
  background-color: var(--countrybgcolor);
}
.country-img {
  height: 230px;
}
.country-img img {
  height: 64.5%;
  width: 100%;
  object-fit: cover;
}
.country-info {
  padding: 20px 17px;
}
.country-info h5 {
  padding: 8px 0px;
  font-size: 20px;
  letter-spacing: 1px;
}
.country-info p > strong {
  font-weight: 600;
  letter-spacing: 1px;
}
.showdropdown {
  display: none;
}
i {
  cursor: pointer;
  color: var(--fontcolor);
}
.dark {
  --bgcolor: hsl(207, 26%, 17%);
  --fontcolor: hsl(0, 0%, 100%);
  background-color: var(--bgcolor);
  color: var(--fontcolor) !important;
  --countrybgcolor: hsl(209, 23%, 22%);
}
.countrymodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bgcolor);
  padding: 30px;
}
.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.back {
  position: absolute;
  top: 3rem;
  left: 30px;
  background-color: var(--countrybgcolor);
  box-shadow: 0 0 5px rgba(0, 0, 0.3);
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}
.leftmodal {
  width: 50%;
}
.leftmodal img {
  height: 100%;
  width: 85%;
  object-fit: cover;
}
.rightmodal {
  width: 50%;
  padding: 2rem;
}
.modalflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rightmodal h1 {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 40px;
}
.inner p {
  letter-spacing: 1px;
}
.inner p > strong {
  font-weight: 600;
}
.display {
  display: none;
}
.last {
  margin-top: 1rem;
  color: var(--fontcolor);
}
.last button {
  color: var(--fontcolor);
  padding: 0.7rem;
}
.loading {
  --b: 10px; /* border thickness */
  --n: 10; /* number of dashes*/
  --g: 10deg; /* gap between dashes*/
  --c: rgb(43, 29, 29); /* the color */

  width: 80px; /* size */
  aspect-ratio: 1;
  position: absolute;
  top: 45%;
  left: 45%;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000, var(--c)) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
      #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - var(--b)),
      #000 calc(100% - var(--b))
    );
  mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg calc(360deg / var(--n) - var(--g) - 1deg),
      #0000 calc(360deg / var(--n) - var(--g)) calc(360deg / var(--n))
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(98% - var(--b)),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 23px;
  }
  .toggle {
    font-size: 14px;
  }
  .modal {
    flex-direction: column;
    justify-content: center;
  }
  .leftmodal {
    width: 100%;
  }
  .form-control input{
font-size:13px;
  }
  .loading{
    width:60px;
  }
  .rightmodal {
    width: 90%;
    position: absolute;
    top: 45%;
  }
  .rightmodal h1 {
    text-align: center;
  }
  .country {
    margin: 8px auto;
  }
  .leftmodal img {
    height: 30%;
    width: 60%;
    position: absolute;
    top: 16%;
    left: 6rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 626px) {
}
@media screen and (max-width: 500px) {
  .leftmodal img {
    height: 30%;
    width: 65%;
    left: 5.5rem;
    position: absolute;
    top: 16%;
    object-fit: cover;
  }
}
@media screen and (max-width: 450px) {
  .leftmodal img {
    width: 80%;
    left: 2.5rem;
  }
  p {
    
    font-size: 12px;
    padding: 7px 1px;
  }
  .dropdown{
    position: relative;
    left: 16px;
    padding: 12px 5px;
  }
  .dropDownCon i {
    position: absolute;
    top: 1rem;
    right:0.2rem;
  }
}
@media screen and (max-width: 350px) {
  .leftmodal img {
    width: 90%;
    left: 1rem;
  }


}
